<!-- <form class="col-lg-5" #myForm="ngForm" novalidate>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="name" required/>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email" ngModel required email/>
  </div>
  <div class="form-group">
    <label>Phone number</label>
    <input type="text" class="form-control" name="phone" ngModel required pattern="[0-9]{10}"/>
  </div>
  <div class="form-group">
    <button [disabled]="myForm.invalid" class="btn btn-default" (click)="submit(myForm)">Add</button>
  </div>
  <div>Name: {{myForm.value.name}}</div>
  <div>Email: {{myForm.value.email}}</div>
</form> -->

<form #myForm="ngForm" novalidate (ngSubmit)="submit(myForm)">
  <div class="form-group">
      <label>Имя</label>
      <input class="form-control" name="name" ngModel required />
  </div>
  <div class="form-group">
      <label>Email</label>
      <input class="form-control" name="email" ngModel 
          required email />
  </div>
  <div class="form-group">
      <label>Телефон</label>
      <input class="form-control" name="phone" ngModel 
          required pattern="[0-9]{10}" />
  </div>
  <div class="form-group">
      <input type="submit" [disabled]="myForm.invalid" class="btn btn-default" value="Отправить" />
  </div>
</form>